*{
	box-sizing: border-box;
}

body{
	height: 100%;
	margin: 0px;
	background: url("img/pool_body_bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.container{
	background-color: rgba(122, 216, 254, 0.4);
	height: 90vh;
	padding: 0px;
}

#play-button a{
	text-decoration: none !important;
	color: red;
}

a:hover{
	text-decoration: none !important;
	color: red;
}


a{
	text-decoration: none !important;
	color: white;
}


#play-button{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 5em;
	border-radius: 10px;
	box-shadow: 0px 10px 18px #FFE4C4;
}

#players-button{
	float: right;
	margin-top: 20px;
	margin-right: 10px;
	font-size: 2em;
}

#leaderboard-button{
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 2em;
}

footer{
	height: 50px;
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	color: white;
	border: 1px solid grey;
	text-align: center;
	background-color: grey;
}

.start-game{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 2em;
	border-radius: 10px;
	box-shadow: 0px 10px 18px #FFE4C4;
}

#player1{
	float: left;
	
}

#player2{
	float: right;
}




