{% extends "main.html" %}
{% block content %}
<!-- play button -->
<a href="{{url_for('start_game')}}">
	<button type="button" id="play-button" class="btn btn-outline-light">PLAY</button>
</a>
<!-- create player button -->
<a href="{{url_for('create_player')}}">
	<button type="button" id="players-button" class="btn btn-info">Create Player</button>
</a>
<!-- leaderboard button -->
<a href="{{url_for('leaderboard')}}">
	<button type="button" id="leaderboard-button" class="btn btn-info">Leaderboard</button>
</a>

{% endblock %}